.Item {
  display: inline-block;
  position: relative;
  margin: 2px;
  margin-right: 0.4%;
  width: 13rem;
  height: 70%;
  transition: transform 0.3s;
  transform-style: preserve-3d;
}

.Item img {
  width: 100%;
  height: 100%;
  border-radius: 4px;
  overflow: hidden;
  /* object-fit: cover; */
}

.Item:hover {
  cursor: pointer;
  z-index: 2;
  transform: translateZ(50px) scale(1.7);
}

.Item .Item-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  transform-style: preserve-3d;
}

.Item .Item-image {
  width: 100%;
  height: 100%;
  position: relative;
  transition: transform 0.3s;
  transform-style: preserve-3d;
}
.Item-details{
  display: none;

}
.Item:hover .Item-details {
  display: flex;

}

.Item .Item-details {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  /* height: 2rem; */
  padding: 5px;
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  pointer-events: none;
}

.Item:hover .Item-details {
  pointer-events: auto;
}
/* .Item:hover .Item-image {
  object-fit: cover;
} */
.Item .Item-details button {
  padding: 10px;
  border: none;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
  margin-right: 5px;
  border-radius: 5px;
}
.WatchNowButton{
    width: 90%;
    height: 2rem;
}
.PlusButton{
  height: 2rem;
}

.Item .Item-details button:hover {
  background-color: #0056b3;
}
